/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.logo-versus {
  width: 24px;
  height: 24px;
  margin-left: 10px;

  background-image: url('../images/versus.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.to-bet:before{
    content: '';
    background:url('../images/money.png');
    background-size:cover;
        position:absolute;
    width:24px;
    height:24px;
    margin-left:-34px;
}

/*
.to-bet {
    width: 24px;
    background: url(../images/money.png) no-repeat;
}*/

.homeTeam {
  margin-left: 0px;
}
.awayTeam {
  margin-left: 34px;
}

.event {
  margin-bottom: 50px;
}

.to-bet.homeTeam {
  margin-left: 34px;
}
.to-bet.awayTeam {
  margin-left: 68px;
}
