<!-- <p>This is the partial for view 1.</p>
<md-input-container>
  <label>Country</label>
  <md-select ng-model="country" ng-change="refreshLeagues()">
    <md-option ng-repeat="c in countries" ng-value="c">
      {{c}}
    </md-option>
  </md-select>
</md-input-container>
<md-input-container>
  <label>League</label>
  <md-select ng-model="league">
    <md-option ng-repeat="l in leagues" ng-value="l">
      {{l}}
    </md-option>
  </md-select>
</md-input-container> -->

<!-- <md-button ng-click="getResults()">get Results</md-button>
<p>{{results}}</p>
<md-button ng-click="getEvents()">get Events from DB</md-button>
<p>{{events}}</p> -->
<!-- <md-button ng-click="createEvent()">create Event in DB</md-button> -->

<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
  <md-button class="md-raised md-warn" ng-click="refreshAllDatabase()">Refresh with all Results</md-button>
  <md-button class="md-raised md-warn" ng-click="refreshDatabase()">Refresh with last Results</md-button>
  <md-button class="md-raised md-primary" ng-click="getNextEventsToBetGoalAtHalfTime()">get Next Events to bet (Goal at Half Time)</md-button>
  <md-button class="md-raised md-primary" ng-click="getNextEventsToBet2Or3Goals()">get Next Events to bet (2 or 3 goals)</md-button>
  <md-button class="md-raised md-primary" ng-click="getNextEventsToBetMore1_5Goal()">get Next Events to bet (More than 1.5 goal)</md-button>
  <md-button class="md-raised md-primary" ng-click="getNextEventsToBet2ndBetter()">get Next Events to bet (2nd Half better)</md-button>
  <!-- <div class="label">Actions</div> -->
</section>

<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>


</section>
<div ng-show="!isLoading">
  <div ng-show="nextEventsToBet.length == 0">NO RESULT FOUND</div>
  <md-list class="md-dense" flex>
    <!-- <md-subheader class="md-no-sticky">3 line item (dense)</md-subheader> -->
    <md-list-item class="md-3-line" ng-repeat="eventToBet in nextEventsToBet">
      <div class="md-list-item-text" layout="column">
        <h2>{{eventToBet.country}} ({{eventToBet.league}} : {{eventToBet.round}}/{{eventToBet.nbOfRounds}})</h2>
        <h2>{{eventToBet.nextMatch.dateString}}</h2>
        <h2><span ng-class="{'to-bet': eventToBet.nextMatch.homeTeam == eventToBet.team}" class="homTeam">{{eventToBet.nextMatch.homeTeam}}</span> <span class="logo-versus"><span> <span ng-class="{'to-bet': eventToBet.nextMatch.awayTeam == eventToBet.team}" class="awayTeam">{{eventToBet.nextMatch.awayTeam}}</span></h2>
        <h3>mustBetObj: {{eventToBet.mustBetObj}}</h3>
        <!-- <h3>Method: {{eventToBet.method}}</h3>
        <h3>Iteration: <span style="color:blue">{{eventToBet.maxIteration}}</span></h3> -->
        <h3>Number of matches calculated: <span style="color:blue">{{eventToBet.nbFinishedMatches}}</span></h3>
      </div>
    </md-list-item>
  </md-list>
</div>
<div ng-show="isLoading">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
