<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
  <md-button class="md-raised md-warn" ng-click="refreshAllDatabase()">Refresh with all Results</md-button>
  <md-button class="md-raised md-warn" ng-click="refreshDatabase()">Refresh with last Results</md-button>
  <md-button class="md-raised md-primary" ng-click="getNextEventsToBet()">get Next Events to bet</md-button>
</section>

<div>
  <span>Methods filters: </span>
  <md-checkbox ng-model="moreThan1_5GoalFilter">
    More than 1.5 goal<br />
  </md-checkbox>
  <md-checkbox ng-model="secondHalfBetterFilter">
    Second half better<br />
  </md-checkbox>
  <md-checkbox ng-model="goalAtHalfTimeFilter">
    Goal at halftime<br />
  </md-checkbox>
  <md-checkbox ng-model="twoOrThreeGoalsFilter">
    Two or three goals<br />
  </md-checkbox>
</div>

<div>
  <span>Group by: </span>
  <md-checkbox ng-model="dateGroupBy" ng-change="updateCountryGroupByCheckBoxes()">
    Date<br />
  </md-checkbox>
  <md-checkbox ng-model="countryLeagueGroupBy" ng-change="updateDateGroupByCheckBoxes()">
    Country & league<br />
  </md-checkbox>

</div>
<div ng-show="isLoading">
  <span>Getting next events to bet...</span>
<md-progress-linear md-mode="determinate" value="{{progress}}"></md-progress-linear>
</div>
<div ng-show="isRefreshLoading">
<span>Refreshing database...</span>
<md-progress-linear md-mode="determinate" value="{{refreshProgress}}"></md-progress-linear>
</div>
<h1>Results found: {{(nextEventsToBet | filter:methodsFilter).length}}</h1>
<div ng-show="!isLoading">
  <md-list class="md-dense" flex>
    <md-list-item class="md-3-line event" ng-repeat="eventToBet in nextEventsToBet | filter:methodsFilter" ng-if="!countryLeagueGroupBy && !dateGroupBy">
      <div class="md-list-item-text" layout="column">
        <h2>{{eventToBet.country}} ({{eventToBet.league}}<span ng-if="eventToBet.nbOfRounds != null"> : {{eventToBet.round}}/{{eventToBet.nbOfRounds}}</span>)</h2>
        <h2>{{eventToBet.nextMatch.date | date :  "EEEE, MMMM d, y HH:mm" }}</h2>
        <h2><span ng-class="{'to-bet': eventToBet.nextMatch.homeTeam == eventToBet.team}" class="homTeam">{{eventToBet.nextMatch.homeTeam}}</span> <span class="logo-versus"><span> <span ng-class="{'to-bet': eventToBet.nextMatch.awayTeam == eventToBet.team}"
                class="awayTeam">{{eventToBet.nextMatch.awayTeam}}</span></h2>
        <h3 ng-repeat="method in eventToBet.mustBetObj">
          <span>{{method.methodName}} </span>I: <span style="color:blue">{{method.iteration}}</span> LVL: <span style="color:red">{{method.level}}</span>
          <md-button ng-disabled="method.disabled" ng-show="!method.alreadyBet" class="md-raised md-primary" ng-click="addBet(eventToBet, method)">add bet</md-button>
        </h3>
        <h3>Number of matches calculated: <span style="color:blue">{{eventToBet.nbFinishedMatches}}</span></h3>
      </div>
    </md-list-item>

    <md-list-item class="md-3-line event" ng-repeat="(key, value) in nextEventsToBet | filter:methodsFilter | map:toCountryAndLeague | groupBy:'countryAndLeague'" ng-if="countryLeagueGroupBy">
      <div class="md-list-item-text" layout="column">
        <h1>{{key}}</h1>
        <div ng-repeat="eventToBet in value">
          <h2 ng-if="eventToBet.nbOfRounds != null">Round: {{eventToBet.round}}/{{eventToBet.nbOfRounds}}</h2>
          <h2>{{eventToBet.nextMatch.date | date :  "EEEE, MMMM d, y HH:mm" }}</h2>
          <h2><span ng-class="{'to-bet': eventToBet.nextMatch.homeTeam == eventToBet.team}" class="homTeam">{{eventToBet.nextMatch.homeTeam}}</span> <span class="logo-versus"><span> <span ng-class="{'to-bet': eventToBet.nextMatch.awayTeam == eventToBet.team}"
                  class="awayTeam">{{eventToBet.nextMatch.awayTeam}}</span></h2>
          <h3 ng-repeat="method in eventToBet.mustBetObj">
            <span>{{method.methodName}} </span>I: <span style="color:blue">{{method.iteration}}</span> LVL: <span style="color:red">{{method.level}}</span>
            <md-button ng-disabled="method.disabled" ng-show="!method.alreadyBet" class="md-raised md-primary" ng-click="addBet(eventToBet, method)">add bet</md-button>
          </h3>
          <h3>Number of matches calculated: <span style="color:blue">{{eventToBet.nbFinishedMatches}}</span></h3>
        </div>
      </div>
    </md-list-item>

    <md-list-item class="md-3-line event" ng-repeat="(key, value) in nextEventsToBet | filter:methodsFilter | map:toDay | groupBy:'nextMatch.day'" ng-if="dateGroupBy">
      <div class="md-list-item-text" layout="column">
        <h1>{{key}}</h1>
        <div ng-repeat="eventToBet in value">
          <h2>{{eventToBet.country}} ({{eventToBet.league}}<span ng-if="eventToBet.nbOfRounds != null"> : {{eventToBet.round}}/{{eventToBet.nbOfRounds}}</span>)</h2>
          <h2>{{eventToBet.nextMatch.date | date :  "HH:mm" }}</h2>
          <h2><span ng-class="{'to-bet': eventToBet.nextMatch.homeTeam == eventToBet.team}" class="homTeam">{{eventToBet.nextMatch.homeTeam}}</span> <span class="logo-versus"><span> <span ng-class="{'to-bet': eventToBet.nextMatch.awayTeam == eventToBet.team}"
                  class="awayTeam">{{eventToBet.nextMatch.awayTeam}}</span></h2>
          <h3 ng-repeat="method in eventToBet.mustBetObj">
            <span>{{method.methodName}} </span>I: <span style="color:blue">{{method.iteration}}</span> LVL: <span style="color:red">{{method.level}}</span>
            <md-button ng-disabled="method.disabled" ng-show="!method.alreadyBet" class="md-raised md-primary" ng-click="addBet(eventToBet, method)">add bet</md-button>
          </h3>
          <h3>Number of matches calculated: <span style="color:blue">{{eventToBet.nbFinishedMatches}}</span></h3>
        </div>
      </div>
    </md-list-item>
  </md-list>
</div>

